.register {
    height: 100vh;
    background-color: rgb(193, 190, 255);
    display: flex;
    align-items: center;
    flex-direction: row;

    .card {
        max-width: 60%;
        display: flex;
        flex-direction: row-reverse;
        background-color: white;
        border-radius: 15px;
        min-height: 600px;
        margin: auto;
        overflow: hidden;

        .left {
            display: flex;
            width: 50%;
            flex-direction: column;
            justify-content: center;
            display: flex;
            gap: 30px;
            padding: 50px;
            color: white;
            background: linear-gradient(rgba(39, 11, 96, 0.6), rgba(39, 11, 96, 0.9)), url('https://images.pexels.com/photos/2962135/pexels-photo-2962135.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
            background-size: cover;


            h1 {
                font-size: 100px;
                font-weight: 100px;
            }

            p {}

            span {
                font-size: 14px;
                align-self: flex-start;
            }

            button {
                width: 70%;
                padding: 10px;
                border: none;
                border-radius: 10px;
                background-color: white;
                color: rebeccapurple;
                font-weight: bold;
                cursor: pointer;
                align-self: flex-start;
            }
        }

        .right {
            width: 50%;
            display: flex;
            padding: 50px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 40px;

            h1 {
                color: #555;
                font-size: 40px;
            }

            form {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 40px;

                input {
                    border: none;
                    border-bottom: 1px solid lightgray;
                    padding: 20px 10px;
                }

                button {
                    width: 60%;
                    padding: 10px;
                    border: none;
                    background-color: #938eef;
                    color: white;
                    border-radius: 10px;
                    cursor: pointer;
                }
            }

        }
    }
}